1. The difference between lists and turples is that lists are dynamic and while tuples have static characteristics.
2. Numpy is a library in python that is used for scientific computing and is used for algeba in python.
3. Panda is a core library that is built on top of numpy and because of that it has higher performance and allows for fast analysis, data cleaning, and preparation.
4. Scikit learn library does classification, regression, and clustering algorithms.
5. Tensorflow library does numerical computation and large-scale machine learning.
6. Tkinter library creates GUI applications.

Data Science is data to create as much impact as possible for your company.

The data science process is frame the problem, collect raw data to solve the problem, process the data, explore the data, perform in-depth analysis, and communicate the results of the analysis.

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno
import seaborn as sns

df = pd.read_csv("https://raw.githubusercontent.com/MatthewFried/Udemy/master/Day2/Day2_Data.csv")
df.head()

   INDEX  TARGET  FixedAcidity  ...  LabelAppeal  AcidIndex  STARS
0      1       3           3.2  ...            0          8    2.0
1      2       3           4.5  ...           -1          7    3.0
2      4       5           7.1  ...           -1          8    3.0
3      5       3           5.7  ...           -1          6    1.0
4      6       4           8.0  ...            0          9    2.0

[5 rows x 16 columns]

In [ ]:
df.isnull().sum()

In [ ]:
df.nunique()

In [ ]:
df.describe()

In [ ]:
sns.catplot(data=df , kind='box' , height=3 , aspect=10)

In [ ]:
sns.catplot(x='INDEX' , data=df , kind='count',height = 5, aspect = 1.1)

In [ ]:
df.hist(figsize=(15, 10), bins=20, xlabelsize=10, ylabelsize=10